.st_tab_navigator{margin-left:2.4%;margin-right:20px}.st_tab_navigator
li{float:left;margin-top:2px;margin-right: -1px}.st_tab_navigator li
a{display:block;text-align:center;text-decoration:none;font-weight:normal;display:block;height:31px;-moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px}.st_tab_navigator li a
span{height:23px;display:block;padding:8px
30px 0 30px;margin:1px}.st_tab_navigator
li.st_selected{height:31px;margin-bottom:3px;margin-top:1px}.st_tab_navigator li.st_selected
a{font-weight:bold;height:33px}.st_tab_navigator
li.st_dummy{float:none;clear:both;padding:0;margin:0;font-size:0;line-height:0%;border:none}.st_content_tab{-moz-border-radius:0px 5px 5px 5px;-webkit-border-radius:0px 5px 5px 5px;border-radius:0px 5px 5px 5px;padding:10px;margin-left:2.4%;margin-right:20px}.st_tab_navigator-separator{margin-bottom:10px}.st_indicator{text-align:center;padding:10px
0}#st_tab_navigator-product_list,#st_tab_navigator-product_description{margin-top:20px}#jquery-overlay{position:absolute;top:0;left:0;z-index:100000000;width:100%;height:500px}#jquery-lightbox{position:absolute;top:0;left:0;width:100%;z-index:1000000000;text-align:center;line-height:0}#jquery-lightbox a
img{border:none}#lightbox-container-image-box{position:relative;background-color:#fff;width:250px;height:250px;margin:0
auto}#lightbox-container-image{padding:10px}#lightbox-loading{position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0}#lightbox-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}#lightbox-container-image-box>#lightbox-nav{left:0}#lightbox-nav
a{outline:none}#lightbox-nav-btnPrev,#lightbox-nav-btnNext{width:49%;height:100%;zoom:1;display:block}#lightbox-nav-btnPrev{left:0;float:left}#lightbox-nav-btnNext{right:0;float:right}#lightbox-container-image-data-box{font:10px Verdana, Helvetica, sans-serif;background-color:#fff;margin:0
auto;line-height:1.4em;overflow:auto;width:100%;padding:0
10px 0}#lightbox-container-image-data{color:#666}#lightbox-container-image-data #lightbox-image-details{width:70%;float:left;text-align:left}#lightbox-image-details-caption{font-weight:bold}#lightbox-image-details-currentNumber{display:block;clear:left;padding-bottom:1.0em}#lightbox-secNav-btnClose{position:absolute;top: -20px;right: -20px}.zoomPad{position:relative;z-index:99;cursor:pointer}.zoomPreload{-moz-opacity:0.8;opacity:0.8;filter:alpha(opacity = 80);border:1px
solid #CCC;background-color:white;padding:8px;text-align:center;background-image:url('/images/frontend/theme/default2/loading_gallery.gif');background-repeat:no-repeat;background-position:15px 15px;z-index:110;width:45px;height:45px;position:absolute;top:0px;left:0px}.zoomPup{overflow:hidden;background-color:#FFF;-moz-opacity:0.6;opacity:0.6;filter:alpha(opacity = 60);z-index:120;position:absolute;border:1px
solid #CCC;margin:0px
auto;z-index:101;cursor:crosshair}.zoomOverlay{position:absolute;left:0px;top:0px;background:#FFF;z-index:5000;width:100%;height:100%;display:none;z-index:101}.zoomWindow{position:absolute;left:110%;top:40px;background:#FFF;z-index:6000;height:auto;width:100%;z-index:10000;z-index:110}.zoomWrapper{position:relative;border:1px
solid #ccc;z-index:110;cursor:pointer !important;margin:0px
auto}.zoomWrapperTitle{display:block;background:#999;color:#FFF;height:18px;line-height:18px;width:100%;overflow:hidden;text-align:center;font-size:10px;position:absolute;top:0px;left:0px;z-index:120;-moz-opacity:0.6;opacity:0.6;filter:alpha(opacity = 60)}.zoomWrapperImage{display:block;position:relative;overflow:hidden;z-index:110}.zoomWrapperImage
img{border:0px;display:block;position:absolute;z-index:101}.zoomIframe{z-index: -1;filter:alpha(opacity=0);-moz-opacity:0.80;opacity:0.80;position:absolute;display:block}.name{}.image{}.description{}.discount{}.price{}.discount{}.name a, .product_link
a{font-size:1.1em;text-decoration:none}.name a:hover, .product_link a:hover{text-decoration:underline}.price, .major_price
span{font-size:1.1em;font-weight:bold}.minor_price{font-size:0.9em;font-weight:normal}.old_price, .old_price span, .price
.old_price{text-decoration:line-through;font-size:1em;font-weight:normal}#main_products,#product_long{margin:0px
0 10px -12px}#main_products .item, #product_long
.item{float:left;padding:10px
0 0;text-align:center;font-size:0.9em;width:177px;margin-left:12px;position:relative}#main_products .image, #product_long
.image{width:32.423208191%;display:table-cell;text-align:center;vertical-align:middle}#main_products .name, #product_long
.name{text-align:center;padding:10px}#main_products .description, #product_long
.description{text-align:center;padding:0px
10px 10px 10px;line-height:1.3em}#main_products .discount, #product_long
.discount{text-align:center;padding:0
10px;padding-bottom:3px}#main_products .old_price, #product_long
.old_price{text-align:center;padding:0
10px}#main_products .major_price, #product_long
.major_price{text-align:center;padding-left:10px}#main_products .minor_price, #product_long
.minor_price{text-align:center;padding:0
10px}#main_products .price, #product_long
.price{text-align:center;padding:0
10px}#main_products .basket, #product_long
.basket{text-align:center;margin:10px}#main_products .basket, #product_long .basket, #product_recommend .basket, #product_accessories
.basket{background-color:#f7f7f7;-webkit-box-shadow:0px 1px 2px #979797;-moz-box-shadow:0px 1px 2px #979797;box-shadow:0px 1px 2px #979797}#product_recommend,#product_accessories{text-align:center;padding-top:4px}.basket
a{text-decoration:none;font-weight:bold;padding:7px
0;display:block}.basket a:hover, #product_recommend .basket:hover, #product_accessories .basket:hover{background:#eee}.basket
a.st_button_options_basket{padding-right:0px}#product_other .name
a{font-size:1em}#product_other .item, #product_recommend .item, #product_accessories
.item{float:left;margin-bottom:7px;text-align:center}#product_recommend .basket a, #product_accessories .basket
a{padding:4px
0;margin-top:4px}#product_other .image, #product_recommend .image, #product_accessories
.image{display:table-cell;text-align:center;vertical-align:middle;height:94px}#product_other .name, #product_recommend .name, #product_accessories
.name{padding:5px
3px 0;text-align:center}#product_card #product_recommend
.old_price{text-align:center;padding-left:0px}#product_short
table{border:none}#product_short
td.photo_short{padding:5px
0px 5px 5px;width:50px}.box_photo_sort{display:table-cell;text-align:center;vertical-align:middle;width:33px;height:33px}.box_photo_sort
*{vertical-align:middle}#product_short
td{text-align:left;border:none;padding:0px}#product_short td.price, #product_short td.old_price,  #product_short
td.basket{text-align:right;padding-right:5px}#product_short .price
span{font-size:0.8em;font-weight:normal}#product_short
td.basket{padding-right:10px}#product_short
td.photo_short{text-align:center}.box .content
.full{text-align:center;margin:5px
0px;padding:1px
0px 8px 0}.box .content .full
.product_link{padding-top:10px}.box_group .content>a{display:block;padding:3px
0px 2px 16px;font-size:11px;text-decoration:none}.box_group .content>a:hover{text-decoration:underline}.box_info
.content{padding:10px}#product_card{padding-bottom:15px}.information, #st_tab_navigator-product_description ul, #st_tab_navigator-product_list
ul{list-style:none}#product_label{float:right;width:369px;margin-top:16px}#product_card
.label{margin-right:10px;padding-bottom:15px}#product_gallery{float:left;width:365px;margin:16px
0px 5px 16px;background-color:#fff}#product_card
.producer_logo{margin-bottom:15px}#product_card .product_name
h1{font-weight:normal;font-size:16px;padding:0px}#product_card .product_code
h1{font-weight:bold;font-size:13px;padding:0px}#product_card
#image{text-align:center}#product_card
#hidden_gallery{display:none}#product_card
.description{word-spacing:1px;padding:20px
20px 0px 2.4%;overflow:hidden;width:538px;float:left}#product_card
.description_right{float:right;margin:20px
20px 0px 0px;width:170px}#product_card
.information{text-align:right}#product_card .information
li{clear:both;text-align:left;padding-bottom:0px;overflow:hidden}#product_card .information li
h1{line-height:24px;margin-top:10px}#st_product_options-catalogue-brutto{font-weight:normal}#product_card .information .price
span{font-size:1.3em;padding-left:5px}#product_card .information
.price{color:#eD1C24}#product_card .information
.price_minor{text-align:right;color:#919191}#product_card .information .price
.old_price{text-align:right;font-size:1em;font-weight:normal}#product_card .information
.price_catalogue{text-align:right;display:block;font-weight:normal;color:#919191;font-size:1em;padding-top:3px}#product_card .information .price_catalogue
span{font-size:1em}#product_card .information
.price_catalogue_minor{text-align:right;padding-bottom:5px;font-weight:normal}#product_card .information
.price_discount{text-align:right;padding-bottom:11px;display:block;color:#ED1C24}#product_card .information
.price_discount_minor{text-align:right;padding:5px
0px}#product_card .information
.discount_name{text-align:right}#product_card .information .question_link
a{background-image:url(/images/frontend/theme/default/stQuestionPlugin/ask_question.gif);background-position:left center;background-repeat:no-repeat;display:block;padding:0px
0px 0px 25px;text-align:left}#product_card .information
.question_login{background-image:url(/images/frontend/theme/default/stQuestionPlugin/ask_question.gif) !important;background-position:left center !important;background-repeat:no-repeat !important;display:block !important;padding:5px
10px 5px 25px !important;text-align:left !important}#product_card .information li.st_admin-horizontal-look-element{padding-bottom:5px}#product_card
.old_price{padding-left:10px}#st_product_options-old_price_brutto{padding-left:10px}#st_basket-add-button{padding:10px;text-align:center;overflow:hidden}#st_basket-add-button
button{float:none;display:inline}#product_card
.gallery{padding-left:16px;padding-top:10px;margin-bottom:10px;clear:both}#product_card #gallery
li{float:left;margin:5px
5px 0px 0px;width:86px;height:86px;background-color:#fff}#product_card #gallery
.photo{width:86px;height:86px;margin:0px
auto;display:table-cell;text-align:center;vertical-align:middle}#product_card #gallery .photo:hover{opacity:0.85}#product_card #gallery .photo
img{max-width:86px;max-height:86px}#list
h1{padding-bottom:10px}#list
h2{padding:5px
10px;margin-bottom:10px}.list_producers{float:left;padding:5px
0px 0px 5px}.list_producers
select{width:160px}.list_sort{float:right;padding:7px
6px 0px 15px}.list_sort
img{position:relative;top: -2px;padding:0
2px}.list_sort
a{color:#838383;text-decoration:none;padding-left:9px;padding-right:5px;border-left:1px solid #c0bebe;display:inline-block}.list_sort a:first-of-type{border:none}.list_sort a:hover{color:#000}.list_sort
.current{padding:1px
5px;display:inline-block;border:1px
solid #c0bebe}.list_sort .current
a{margin:0;padding:0;border:none}.list_sort
.sort_name{margin-left:5px}.list_sort_separator{display:none}.list_types{float:right;padding-top:8px;padding-bottom:3px}#pager{float:right;margin-bottom:10px}#pager
.next_prev{float:left;margin-top:2px}#pager
.space{float:left;width:45px}#pager
.pages{margin-left:1px;margin-right:5px;float:left}#pager .pages
span{font-weight:bold;margin-left:1px;margin-right:1px;text-decoration:underline}#pager .pages
a{text-decoration:none;margin-left:2px;margin-right:2px}#small_card{margin-top:10px}#small_card
.photo{float:left}#small_card
.right{margin-left:180px;width:300px}#product_in_basket{margin-top:15px;margin-bottom:10px}#product_in_basket
h3{border-color:#E3E3E3;border-style:solid;border-width:0 0 1px;margin-bottom:15px;padding-left:5px}#product_in_basket
#product_other{margin:0px}#st_button-recommend
a{display:block;padding:0px
10px 5px 25px;background-image:url('/images/frontend/theme/default/recommend.png');background-repeat:no-repeat;background-position:50% left;text-align:left}.st_review-show_success_button{width:100px;float:right}#st_button-review{}#st_button-review
a{display:block;width:80px;padding:3px
10px 5px 20px;font-size:10px;background-image:url('/images/frontend/theme/default/review.gif');background-repeat:no-repeat;background-position:5% center;text-decoration:none;text-align:left}#st_product-show_success_frame_info #st_product_options_form
li{margin-bottom:10px}#changed_field{display:none}#st_product-show_success_short_description{text-align:justify;margin:10px
0px 10px 10px;width:550px}#st_component-st_basket-add_enable{margin-top:0px}#st_product_options-modify-basket #st_component-st_basket-add_enable{margin-top:0px}.st_product-show_theme_default-box-star
a{font-size:11px;color:#000;padding-left:10px}.st_product_options_form
li{margin-bottom:5px}.st_link_notice a, .st_link_recommend
a{background:url(/images/frontend/theme/default/icon_notice.gif) center left no-repeat;display:block;font-size:12px;padding:1px
10px 1px 23px;text-align:left;text-decoration:none;color:#154D81;margin-left:2px}.st_link_recommend
a{background:url(/images/frontend/theme/default/icon_recommend.gif) center left no-repeat;margin-left:1px;padding:1px
10px 1px 24px}#product_short .basket
a{background:none;padding-right:0px;padding-top:0px}#product_short
.name{text-align:left;padding-left:5px}#product_short .code, #product_short
.discount{text-align:center}#product_short
th{text-align:center;font-weight:normal}#product_long .name, #main_products
.name{height:36px}#product_long .image, #main_products
.image{height:138px}#product_long .discount-old_price, #main_products .discount-old_price{height:18px}#product_long .price, #main_products
.price{height:18px}#product_long .description, #main_products
.description{height:33px}#product_long .st_product_options-color-on-list{height:35px}.basket_height{overflow:hidden}#product_label
.price{text-align:right}#product_label #st_basket-add-button{margin:0px;padding:6px
0px 0px 0px;float:right}#st_availability_info{display:inline;padding-left:6px}#execute_time
.gray{padding-right:5px}#main_products .group_label, #product_long
.group_label{margin:0
3px}#main_products .pg_label, #product_long
.pg_label{text-align:right;position:absolute;top: -1px;right: -4px}#product_card h1, #product_card h2, #product_card h3, #product_card
h4{font-weight:bold;display:block}#product_card
h1{padding-top:10px;padding-bottom:7px}#product_card
h2{padding-top:6px;padding-bottom:4px}#list
#product_other{margin-left: -7px}#product_other
.item{margin-left:7px;width:120px;padding-bottom:5px}#product_recommend .item, #product_accessories
.item{width:112px;margin-left:6px;padding:10px}#product_other
.image{width:123px}#product_recommend .image, #product_accessories
.image{width:134px}#product_card .section>div{clear:both}#product_card
.section{margin-bottom:9px;padding-bottom:9px}#product_card
.availability_box{margin-bottom:13px}#product_card
.price_box{padding-bottom:13px;margin-bottom:13px}#product_card .share_box>div:first-of-type{margin-top:13px !important;padding-top:13px}#product_card .label
a{text-decoration:none}#product_card .section .gray a:hover, #product_card .label .producer a:hover{text-decoration:underline;color:#000}#product_card .section .gray, #product_card .section .gray
a{color:#919191}.gray
#st_availability_info{color:#000}#st_availability_info
span{padding-right:2px !important}#product_card
.gallery.two_column{width:375px;float:left;clear:none}#quantity{border-color:#D30000;border-radius:0px}#product_other .search-result-row h4
a{color:#000}.new_search-box
input{border-radius:0px}.new_search-box
#query{width:714px}#product_card .label
.title{margin:10px}#st_component-st_product-product_list #st_search-st_title{border:1px
solid #EAEAEA;padding:5px
10px;margin-bottom:10px;font-size:20px;font-weight:normal}.recommend_label{padding-top:5px}.st_application h1.st_title
a{padding-top:10px;padding-left:10px;height:27px;color:#154d81;text-decoration:none}#st_user-review
h1.st_title{height:50px}#st_review-tag{float:right;margin:-5px 16px 0px 0px}.st_review-show_success_button{width:230px;float:right}.st_review-show_success_button_list{width:100px;float:right}#st_button-review{}#st_button-review
a{display:block;width:95px;padding: -5px 25px 5px 0px;font-size:8pt;background-image:url('/images/frontend/theme/default2/review.gif');background-repeat:no-repeat;background-position:0% center;text-decoration:none;text-align:right}#st_application-st_review-list_products{}#st_application-st_review-list_products_reviewed{}#st_application-st_review-list_products_reviewed_without_agreement{}#st_review-list_products{border-top:1px dotted #CCC;padding-top:10px}#st_review-list_products_reviewed{border-top:1px dotted #CCC;padding-top:10px}.st_review-review_name{font-size:15px;font-weight:bold}.st_review-product{border:1px
solid #CCC;width:462px;margin:10px
0px 10px 10px;float:left}.st_review-product_show{width:160px;height:130px;border:1px
solid #CCC;margin-left:10px;margin-top:10px;text-align:center}.st_review-product_name{padding-top:10px}.st_review-product_photo{width:130px;height:100px;padding-left:15px;padding-bottom:10px;float:left}.st_review-product_mark{padding-top:10px;margin-left:10px;width:160px;height:38px;border:1px
solid #CCC;border-top:none}.st_review-mark{padding-left:40px}.st_review-product_description{float:left;padding-top:10px;padding-left:10px}.st_review-product_description_written{float:left;border:1px
solid #CCC;height:179px;width:248px;text-align:justify;margin:10px
0px 0px 10px;padding:0px
10px 0px 10px}.st_review-product_agreement{padding:10px
0px 10px 6px}.st_review-last_row{padding:0px
10px 10px 0px;float:right}.st_review-product_container{float:left}#st_application-st_review-my_reviews{}#st_application-st_review-my_reviews_products{}#st_reviews-list_my_reviews{cellspacing:0}#st_reviews-list_my_reviews
thead{margin-top:10px}.st_tabular-list{width:100%}.st_review-my_reviews
li{display:inline;margin-left:5px}.st_review-my_reviews-no_transaction{padding:15px
0px 15px 10px;border-top:1px solid #E8E8E8}#st_application-st_review-transaction_review{}.st_review-transaction_description{border:1px
solid #CCC;height:150px;width:480px;text-align:justify;padding:0px
10px 0px 10px}.st_review-transaction_agreement_checked{padding:15px
0px 15px 10px;float:left}.st_review-transaction_agreement{padding:15px
0px 15px 10px;float:left}.st_review-radio{padding-right:30px}#st_application-st_review-list_order_reviews{}.st_review-title_order_list{padding-bottom:5px}.st_review-line{border-bottom:#E8E8E8 solid 1px;padding:5px
0px 5px 0px}.st_review-order_all{padding-right:10px}.st_review-order{padding:0px
10px 0px 10px}.st_review-order_negative{padding-left:10px}.st_review-no_reviews{padding-top:15px}#st_review-author_review{margin:10px
0px 10px 0px;border-top:1px solid #dedad7}.st_review_row{font-size:11px;color:#555;margin-left:10px}.st_review-author{font-size:11px;color:#555;margin-left:10px}.st_review-author_name{font-size:13px;color:#154D81;margin-left:10px}.st_review-add_date{font-size:11px;color:#555;margin-left:10px;padding-left:10px}.st_review-score{font-size:13px;color:gold;margin-left:10px;font-weight:bold;padding-left:5px}#st_review-show_description{margin:10px;padding-left:25px}.st_review-date{font-size:11px;color:#555;margin-left:10px;padding:0px
10px 0px 5px}.st_review-mark_name{font-size:11px;color:#555;margin-left:10px;padding-left:10px}.st_review-line_bottom{border:#E8E8E8 solid 1px;padding-top:5px}#st_application-st_review-list_reviews{}#st_application-st_review-save_product{}#st_application-st_review-save_product_without_agreement{}#st_application-st_review-send{}.st_error{color:red;padding:10px
0px 0px 10px}div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}div.rating-cancel,div.rating-cancel
a{display:none;background:url(/images/frontend/theme/default2/delete.gif) no-repeat 0 -16px}div.star-rating,div.star-rating
a{background:url(/images/frontend/theme/default2/star.png) no-repeat 0 0px}div.rating-cancel a,div.star-rating
a{display:block;width:16px;height:100%;background-position:0 0px;border:0}div.star-rating-on
a{background-position:0 -16px!important}div.star-rating-hover
a{background-position:0 -32px}div.star-rating-readonly
a{cursor:default !important}div.star-rating{background:transparent!important;overflow:hidden!important;margin-top: -3px}.st_product-show_theme_default-box-star{padding:5px
0px 0px 0px;float:left}.st_product-show_theme_default-box-star
a{font-size:11px;color:#000;padding-left:10px}#star_raiting_overlay{display:none;z-index:10000;background-color:#fff;width:480px;border:1px
solid #666;-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow:0 0 90px #000;-moz-border-radius-topleft:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;-webkit-border-radius-topleft:8px;-webkit-border-radius-bottom-left:8px;-webkit-border-radius-bottom-right:8px}#star_raiting_overlay
.close{background-image:url('/images/frontend/theme/default2/buttons/close.png');position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:25px}#st_application-st_review-add .st_row
label{float:left;width:100px;text-align:right;margin-right:10px}#st_application-st_review-add
fieldset{border:none}#st_form-review-captcha, #st_form-review-email, #st_application-st_review-add
textarea{width:320px}#st_application-st_review-add
textarea{height:140px}#st_application-st_review-add
.st_application{border:none}.st_application
.st_content{padding:20px
10px 10px 10px}#review_table{width:535px;border:none}#review_table td, #review_table
th{border:none}#review_table
td{border-bottom:1px solid #ddd}.review_score{text-align:center;font-weight:bold;font-size:13px;width:30px;vertical-align:top}.review_create{text-align:left;width:80px;vertical-align:top}.review_description{font-size:12px;padding:2px
0px 2px 0px;text-align:left}.review_description
em{font-size:11px}#button-add-review{padding:3px;margin-right:43px}#review_table
th{font-weight:normal}.row_captha{margin-bottom:2px;margin-top:2px;margin-left:110px}#attachment tr
td{border-bottom:1px solid #ccc;padding:5px
20px 5px 0px}#attachment tr td
a{font-weight:bold;border-left:1px solid #ccc;padding-left:20px}#attachment .last
td{border:none}#question{width:500px;margin-left:250px}#question
h2{padding:10px;text-align:center}#question
.box{width:500px;padding:5px}#st_question_frontend-ask-text{float:left;margin-top:10px}#st_question_frontend-ask-text_tag{margin-left:110px;width:430px;margin-top:10px}#st_question_frontend-ask-email{float:left}#st_question_frontend-ask-email_tag{margin-left:110px;width:430px}#st_button-question_success{margin:-2px;width:510px}#st_question_frontend-ask-email_tag
input{width:393px}#st_question_frontend_send_success{padding:10px;color:#06B806;margin-bottom:10px}#depository_question_overlay,#price_question_overlay{display:none;z-index:10000;background-color:#fff;width:480px;border:1px
solid #666;-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow:0 0 90px #000;-moz-border-radius-topleft:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;-webkit-border-radius-topleft:8px;-webkit-border-radius-bottom-left:8px;-webkit-border-radius-bottom-right:8px}#depository_question_overlay .close, #price_question_overlay
.close{background-image:url('/images/frontend/theme/default2/buttons/close.png');position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px}#st_application-st_question-add .st_row
label{float:left;width:100px;text-align:right;margin-right:10px}#st_application-st_question-add
fieldset{border:none}#st_application-st_question-add
.st_error{margin-left:110px;padding:0px;padding-top:5px}#st_form-question-captcha, #st_form-question-email, #st_application-st_question-add
textarea{width:320px}#st_application-st_question-add
textarea{height:140px}#st_application-st_question-add
.st_application{border:none}#button-add-question{padding:3px;margin-right:15px}#availability_alert_overlay,#price_question_overlay{display:none;z-index:10000;background-color:#fff;width:480px;border:1px
solid #666;-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow:0 0 90px #000;-moz-border-radius-topleft:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;-webkit-border-radius-topleft:8px;-webkit-border-radius-bottom-left:8px;-webkit-border-radius-bottom-right:8px}#availability_alert_overlay
.close{background-image:url('/images/frontend/theme/default2/buttons/close.png');position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px}#st_application-availability_alert .st_row
label{float:left;width:100px;text-align:right;margin-right:10px}#st_application-availability_alert
fieldset{border:none}#st_application-availability_alert
.st_error{margin-left:110px;padding:0px;padding-top:5px}#st_form-question-captcha, #st_form-question-email, #st_application-availability_alert
textarea{width:320px}#st_application-availability_alert
textarea{height:50px}#st_application-availability_alert
.st_application{border:none}#button-add-question{padding:3px}#active_availability_alert_overlay{}#active_availability_alert_overlay:hover{text-decoration:underline}#st_application-availability_alert
.st_content{padding:0px
10px 10px}#st_application-availability_alert .buttons button[type]{margin-right:15px}#st_application-availability_alert #button-add-question{margin-right:0px;padding:3px}#st_availability_info
span{width:100px;padding-right:10px}#products_compare
table{border:none}#products_compare th,#products_compare
td{background:none;border-bottom:none;border-right:none}#products_compare{margin:0px;border:none}#photo_first{height:116px;padding:5px;border-right:1px solid #e6e6e6}td#photo{height:116px;width:145px;padding:5px;border-right:1px solid #e6e6e6}#box_photo{border:1px
solid #ececec;width:100px;background-color:#fff;position:relative;z-index:20}#box_photo .image
img{max-width:96px;max-height:100px}#st_button-product_compare_add
a{display:block;padding:1px
10px 0px 25px;background-image:url('/images/frontend/theme/default2/stProductsComparePlugin/compare_add.png');background-repeat:no-repeat;background-position:center left;text-align:left}#st_button-product_compare_run
a{display:block;padding:1px
10px 0px 25px;background-image:url('/images/frontend/theme/default2/stProductsComparePlugin/compare_run.png');background-repeat:no-repeat;background-position:center left;text-align:left}#products_compare
.name{font-size:12px;font-weight:bold;text-align:right;padding:8px
15px 8px 25px;border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6}#products_compare
.value{font-size:12px;color:#000;text-align:center;padding:8px
8px;border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6}#no_products_compare{padding-left:20px}#products_compare tr.rowHover:hover{background:#F4F5F4}#products_compare_table_params{float:left;padding-top:10px;width:12%}#products_compare_table_params
table{width:100%}#products_compare_table_values{float:left;overflow-x:auto;width:88%;margin-bottom:5px;padding-top:10px}#product_compare_index{padding:10px}.delete_button{position:absolute;top: -7px;right: -3px;z-index:30}#product_card
.description2{margin-bottom:10px;font-size:0.93em;letter-spacing:0}#st_basket-add-quantity_container
input{border:1px
solid #CCC;padding:0px}#st_basket-add-button #st_basket-add-submit-container
input{padding:0;margin:0;display:block;height:29px;padding-left:20px;padding-right:30px;background-position:93% center}#st_basket-add-quantity-container{text-align:right;margin-top: -26px;padding-right:20px}#st-basket-product_group{padding-top:20px}#st-basket-product_group
h5.st_title{border-bottom:1px solid #ccc}.st_basket-list-order-product
li{float:left;width:40px;height:40px;margin-left:5px;margin-bottom:5px}.st_basket-list-order-product
p{clear:left;color:#555}.st_basket-list-order-product
strong{font-weight:bold}#st_component-st_basket-list{list-style:none}#st_component-st_basket-list li.st_basket-list-pager{padding:0px}#st_component-st_basket-list li.st_basket-list-pager
a{display:block;padding:14px
2px 0px 2px;height:20px}#st_component-st_basket-list
li{float:right;padding:0px
5px;height:34px}#st_component-st_basket-list li.st_basket-list-last{padding-top:7px;height:27px}#st_component-st_basket-list div.st_basket-list-container{margin-top: -34px;margin-left:23px}#st_component-st_basket-list div.st_basket-list-container
a{display:block;padding-left:5px}#st_component-st_basket-list div.st_basket-list-container
p{margin:0;padding-top:2px;color:#bdc2cb;font-weight:bold}#st_component-st_basket-list li.st_basket-list-last div.st_basket-list-container{margin-left:26px}#st_component-st_basket-list li.st_basket-list-last
p{color:#fff}#st_component-st_basket-list li.st_basket-list-last
form{display:inline}#st_component-st_basket-list li.st_basket-list-last
a{display:inline;position:relative;top:1px;font-size:15px}.st_basket-list-info{padding-top:6px;padding-left:10px}.st_button-basket-enabled a, st_button-basket-disabled a, .st_button-basket-enabled span, .st_button-basket-disabled
span{display:block;padding:5px
10px 5px 10px;font-size:10px;background-image:url('/images/frontend/theme/default2/basket/basket.gif');background-repeat:no-repeat;background-position:90% center;text-decoration:none;text-align:left}.st_button-consult-enabled a, st_button-consult-disabled a, .st_button-consult-enabled span, .st_button-consult-disabled
span{display:block;padding:5px
10px 5px 10px;font-size:10px;background-image:url('/images/frontend/theme/default2/icon_phone.png');background-repeat:no-repeat;background-position:90% center;text-decoration:none;text-align:left}.st_button-consult-disabled{background-image:none;border-color:#dedad7;opacity:0.5}.st_button-basket-disabled{background-image:none;border-color:#dedad7;opacity:0.5}.st_icon-basket-disabled{opacity:0.5}#st_component-basket-content{float:right}#st_component-basket-content
li{border:none;color:#fff;font-size:1.4em;padding:8px
6px 0px 4px}#st_component-basket-content
li#st_icon_basket{padding:0px
0px 0px 7px;margin:0px}#st_component-basket-content
li#st_sum{padding:14px
10px 0px 2px;margin:0px;font-size:1em;font-weight:bold}#st_component-basket-content .st_button-basket-enabled, #st_component-basket-content .st_button-basket-disabled{margin:5px
10px 0px 10px}.st_basket-product-remove{text-align:center}#st_basket_sum{text-align:right}#st_basket-total_amount{text-align:left;font-size:1.2em}#st_delivery_cost{text-align:right}#st_promotion_sum{text-align:right;font-size:12px;font-weight:bold}#st_basket-total_amount
strong{font-weight:bold}#st_basket-empty{text-align:center;margin:20px
0}a.st_mini_basket{font-size:15px;font-weight:normal;text-decoration:none}a.st_mini_basket:hover{font-size:15px;font-weight:normal;text-decoration:none}.st_button-back-enabled{border:1px
solid #dedad7;background-repeat:repeat-x}.st_button-back-enabled a, .st_button-back-enabled
span{display:block;padding:5px
10px 5px 10px;font-size:10px;background-repeat:no-repeat;background-position:90% center;text-decoration:none;text-align:left}.st_button-back-enabled a, .st_button-back-enabled
span{display:block;padding:5px
10px 5px 10px;font-size:10px;background-repeat:no-repeat;background-position:90% center;text-decoration:none;text-align:left}#st_basket_quantity_add{text-align:left;padding:5px
5px;float:left}#st_basket_delivery{margin-top:10px}.st_button-basket-submit-enabled{background-color:transparent;border:none;text-align:left;padding:7px
7px 7px 7px;cursor:pointer;float:left}#st_basket-add-button #st_basket-add-quantity_container{float:left;padding-right:5px}#st-basket-product .st_basket-all-empty{background-color:#F4F5F4;border-bottom:none;padding:3px
6px}#st_basket-add-button{margin:0
auto;overflow:hidden;padding:10px;display:table}#st_basket-add-button-content{display:block;float:left;line-height:130%;text-decoration:none}#st_basket-add-button-content
img{padding:7px
6px 6px 1px}#st_basket-add-quantity_container
#quantity{margin-top:6px;padding:1px}#st_basket_add_quantity_enable{float:left;width:150px}#st_component-st_basket-min_amount{font-size:14px;color:#600;margin-bottom:10px;font-weight:bold}#st_basket_product_value{display:none}#st_basket-product_list-personal_recitp{text-align:left;border-bottom:none;padding-top:10px;background-color:#f3f1e2}.st_basket-product-list-product_colored{background-color:#f3f1e2}#st_component-DeliveryInBasket{float:left;width:340px}.st_basket-box_float_right{float:right;width:340px;height:150px}.st_basket-dotted_line{border-bottom:1px dotted #ccc;margin:10px
auto}#st_basket-delivery{float:left}#st_basket-payment{float:right}#st_basket-discount-coupon-code,#st_basket-delivery,#st_basket-payment,#st_basket-summary{float:left;width:260px;margin-right:11px}#st_basket-discount-coupon-code,#st_basket-summary{width:280px;margin-right:0px;float:right}.st_product-show_success_button{width:240px}#st_basket-discount-coupon-code h3,
#st_basket-summary
h3{padding-left:5px}#st_component-promote_products_in_basket-list{margin-top:15px}#st_component-st_basket-add_enable{margin-top:0px}#basket_index
h1{margin-top:10px;margin-left:80px}#basket_index .st_tabular-list .st_basket-product-num ul, #basket_index .st_tabular-list .st_basket-product-sum{white-space:nowrap}#basket_index .st_tabular-list
.st_error{margin:0}#basket_index .st_tabular-list .st_basket-product-num
li{display:inline;padding:0px}#basket_index .st_tabular-list .st_basket-product-num
img{margin-bottom: -1px}td.st_basket-product-num{text-align:center}#basket_index
.content{margin:10px
10px;padding:0px
70px}#basket_products_table{margin-bottom:25px}tbody .st_basket-product-netto, tbody .st_basket-product-brutto, tbody .st_basket-product-sum{text-align:right}tbody .st_basket-product-remove{text-align:center}#basket_icon{font-size:15px;position:relative;top:9px}#st-basket-product
th{color:#666;font-weight:normal;border-bottom:none}#st-basket-product
td{padding:3px;border-bottom:1px solid #EEE}#st-basket-product{border:1px
solid #EEE}#st-basket-product th, #st-basket-product
td{border-left:none;border-right:none;border-bottom:1px solid #DDD}.st_basket-all-empty{border-right:1px solid #BABABA}#st-basket-product
th{background-color:#F4F5F4}#button-empty-basket-return
a{display:inline;float:none;padding:7px}#button-empty-basket-return{text-align:center;margin:25px}#basket_index{min-height:450px}.st_basket-product-photo{padding-left:10px !important}.st_basket-product-photo
img{text-align:center;height:22px;width:22px;background:#fff;border:1px
solid #ccc;padding:3px;display:block;border-radius:5px;background-clip:content-box;background-position:center center;background-repeat:no-repeat;background-size:28px auto}.st_basket-product-netto,.st_basket-product-brutto,.st_basket-product-sum,.st_basket-product-tax{text-align:right}.st_basket-product-num{text-align:center}#st-basket-product
.basket_action{margin-right:10px}#st-basket-product .basket_action a,
#st-basket-product .basket_action
button{height:22px;width:30px;padding:0px;display:table-cell;vertical-align:middle;line-height:13px;font-size:13px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;text-align:center;font-weight:normal;float:none}#st-basket-product .basket_action a img, #st-basket-product .basket_action button
img{margin:0px
!important}#button-basket-continue{margin-top:-45px}#st_basket-update_button{margin-right:20px}#st_basket-clear_button{margin-right:10px}#basket_show{float:right}#basket_show
.sum_right{border:none;text-align:right;white-space:nowrap}#added_product_preview{border:1px
solid #FFF;width:400px;-webkit-box-shadow:0px 0px 1px #000;-moz-box-shadow:0px 0px 1px #000;box-shadow:0px 0px 1px #000;background:url("/images/frontend/theme/default2/basket/empty_basket.jpg") no-repeat right 15px #fff;overflow:visible}#added_product_preview
h3{font-size:14px;padding:5px
15px;text-align:center}#added_product_preview
.error{padding-left:20px;background:url("/images/frontend/theme/default2/exclamation-con.png") no-repeat left center}#added_product_preview
.full{margin:0;padding:0}#added_product_preview
.content{padding:25px
10px 10px}#added_product_preview
.buttons{padding-top:5px}#added_product_preview .image,
#added_product_preview
.info{display:table-cell;vertical-align:middle;font-size:13px;height:71px}#added_product_preview
.image{padding:0px
15px}#added_product_preview .image
img{margin:0}#added_product_preview
.item{margin-bottom:20px}#added_product_preview
.info{padding-left:5px}#added_product_preview
.quantity{}#added_product_preview
.tooltip{width:200px}#basket_tooltip
img{border-radius:3px}.st_basket-list-link{margin:2px
6px 0 0;display:inline-block;position:relative;top:6px}.tooltip{display:none;border:1px
solid #ccc;background-color:#fff;min-height:20px;font-size:11px;color:#000;padding:5px
10px;z-index:10000;max-width:250px}.tooltip td a, #underbaner .tooltip td
a{color:#000;font-weight:normal;text-decoration:underline}.roundies_lt{-moz-border-radius:5px 0px 0px 0px;-webkit-border-radius:5px 0px 0px 0px;border-radius:5px 0px 0px 0px}.roundies_rt{-moz-border-radius:0px 5px 0px 0px;-webkit-border-radius:0px 5px 0px 0px;border-radius:0px 5px 0px 0px}.roundies_lb{-moz-border-radius:0px 0px 0px 5px;-webkit-border-radius:0px 0px 0px 5px;border-radius:0px 0px 0px 5px}.roundies_rb{-moz-border-radius:0px 0px 5px 0px;-webkit-border-radius:0px 0px 5px 0px;border-radius:0px 0px 5px 0px}.roundies_t{-moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px}.roundies_b{-moz-border-radius:0px 0px 5px 5px;-webkit-border-radius:0px 0px 5px 5px;border-radius:0px 0px 5px 5px}#basket_index #product_other
.item{padding-left:12px}#basket_index
#product_other{clear:both;padding-top:10px}#st_basket_vat_eu
label{width:auto;float:none;padding-right:5px;vertical-align:middle;cursor:inherit}#st_basket_vat_eu{margin-top:2px;cursor:pointer}#st_basket_vat_eu input[type="checkbox"]{vertical-align:middle;cursor:inherit}#st_basket_vat_eu input[type="checkbox"]{margin:0}#st_basket_vat_eu{margin-right:10px}.empty_basket_img{text-align:center}.st_basket-points .buttons a, .st_basket-points .buttons button, .st_basket-points button[disabled="disabled"]:hover{height:25px;padding:0px}.basket_disabled{opacity:0.4 !important}.st_basket_product_preview{position:relative;display:inline-block}.st_basket_product_preview>div>img{border:5px
solid #fff;box-shadow:0 0 2px 2px rgba(0,0,0,0.25);height:auto;padding:0;width:auto}.st_basket_product_preview>div{display:none;left:100%;margin-left:10px;position:absolute;top:0;z-index:10000}.st_basket_product_preview:hover>div{display:block}#st_search_search{background:url(/images/frontend/theme/default2/stSearch/icon.png) center left no-repeat}#search #keywords
input{border:1px
solid #ccc;background-color:#fff;padding-left:25px;width:125px;padding-top:2px}#search #button .middle
a{font-weight:bold;color:#fff;text-decoration:none}#search_results
.list_producers{float:left;padding:10px}#search_results
.list_sort{margin-bottom:10px}.next_search
.buttons{padding-bottom:10px}#no_search{text-align:center;margin:15px
0px}#st_search_name{width:430px}#st_search_producer,#st_search_category{width:440px}#st_search_price_from,#st_search_price_to{width:75px}#st_search_category{height:100px}.roundies_right{-moz-border-radius:0px 10px 10px 0px;-webkit-border-radius:0px 10px 10px 0px;border-radius:0px 10px 10px 0px}.roundies_left{-moz-border-radius:10px 0px 0px 10px;-webkit-border-radius:10px 0px 0px 10px;border-radius:10px 0px 0px 10px}.st_search-hidden_div{display:none}.st_search-mode{cursor:pointer;text-decoration:underline}.autocomplete-w1{margin:8px
0 0 6px}.autocomplete{min-width:153px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px
solid #999;background-color:#FFF;max-height:350px;overflow:auto;margin:-6px 6px 6px -6px}.autocomplete-indicator{vertical-align:middle;margin-left: -16px;margin-top:5px;position:absolute;display:none}.autocomplete>div{clear:left;padding:5px}.autocomplete
.image{text-align:center}.autocomplete
.info{max-width:250px;margin-left:45px}.autocomplete
.image{float:left}#stNavigatorPlugin_navigation_box_text{overflow:hidden;float:left;padding:10px
0px 0px 0px}#stNavigatorPlugin_navigation_box_text
a{display:block;float:left;text-decoration:underline}#stNavigatorPlugin_navigation_box_text
.not_active{float:left;font-weight:normal}#stNavigatorPlugin_navigation_box_text
div{float:left;font-weight:bold}#stNavigatorPlugin_navigation_box_text
.arrow{padding:0px
5px;font-weight:bold;float:left}#stNavigatorPlugin_last_viewed_products_box_text{overflow:hidden;float:right;padding:10px
0px 0px 0px}.box_history{float:right;padding-right:3px}#path .box_history
a{display:block;background:none;float:left;height:20px;padding:4px
21px 0px 13px}.history
a{padding:0px}.box_link{float:left}#path{overflow:hidden;padding:3px
0px}#path
a{background:url(/images/frontend/theme/default/arrow_category_leaf.png)
center right no-repeat;display:block;float:left;height:20px;padding:4px
21px 0px 13px}#path span:last-child > a, #path span:only-child>a{display:block;float:left;height:20px;padding:4px
21px 0px 13px;background:none}#path
.not_active{background:url(/images/frontend/theme/default/arrow_category_leaf.png)
center right no-repeat;float:left;height:20px;padding:4px
21px 0px 13px;font-size:12px}#path
.history{background:url(/images/frontend/theme/default/arrow_category_leaf.png)
center right no-repeat;float:left;height:25px}#path
.not_active_last{float:left;height:20px;padding:4px
21px 0px 13px}#path
.left{background:url(/images/frontend/theme/default/stNavigationPlugin/left.gif)
top left no-repeat}#path
.right{background:url(/images/frontend/theme/default/stNavigationPlugin/right.gif)
top right no-repeat;height:26px;padding-top:1px}#path
#fastcache{background:none}#path #fastcache
a{padding-right:10px}.horizontal-category-menu{background:#eee}.subMenu
.items{display:none;background-color:#fff;z-index:1000;position:absolute;border:1px
solid #999;box-shadow:0 0 3px 1px #999;margin-left:1px;padding:5px}.subMenu:hover
.items{display:block}.subMenu .items
a{padding:0px
10px;border:none}.subMenu .items a:hover{text-decoration:underline;color:#000}.subMenu{float:left}.subMenu:hover>a{background-color:#ccc}.subMenu
a{display:block;font-size:13px;padding:5px
10px;text-decoration:none;border-right:1px dotted #999}.category-level-1
a{font-weight:bold}.category-level-2
a{margin-left:14px;font-size:12px;color:#262626}.part{float:left;border-left:1px solid #ccc;min-width:180px}.items .horizontal-category-menu{background:none}.first_part{border-left:none !important}.horizontal-category-menu
.image_menu{float:left;max-width:100%}.horizontal-category-menu .desc-on
.image_menu{max-width:50%;padding-right:10px}.horizontal-category-menu .image_menu
img{margin:5px;max-width:100%;margin:0;border:1px
solid #d8d8d8;padding:4px;background:#e5e5e5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.horizontal-category-menu .menu-description{padding:8px;max-width:200px}.horizontal-category-menu .menu-description.desc-on{width:440px;max-width:440px}.horizontal-category-menu .menu-space{border-bottom:1px solid #ccc}.horizontal-category-menu .items .category-big
a{font-size:1.6em;padding-bottom:4px;padding-left:0;border:none}#st_navigation_bar-user{padding-top:5px;height:22px;border-left:0px;border-right:0px;margin-bottom:10px;margin-top:5px}#st_navigation_bar-user .st_selected
a{font-weight:bold}#st_navigation_bar-user
a{font-weight:normal}#st_user-account{width:320px;margin:0
auto}#st_user-edit{margin:0
auto}#st_user-basket .st_form
.st_error{color:red;margin-top:5px}#st_user-edit
.st_content{width:750px}#st_user-editaccount{margin:10px;padding:0
70px}#st_button_edit_billing{float:left;margin-left:5px}#st_button_edit_question{width:120px;margin-right:581px}#st_button_edit_save{width:130px;margin-right:571px}#st_button_save{margin-right:650px}#st_button_edit_delivery{float:left;margin-left:5px}#st_button-user-edit-change-basket{width:120px;margin:0
auto}#st_button-user-edit-change{width:60px;margin:0
auto}#st_button-user-edit_data_basket,#st_button-user-edit_data_basket_login{}#st_application-user-edit-change
span{margin:100px}#st_user-edit_data{margin:0
auto;width:400px}#st_user-edit_data fieldset, #st_user-login fieldset, #st_application-user-login
fieldset{border:none;margin:0}#st_application-user-account
fieldset{border:none}#st_application-user-account .st_content
p{text-align:center}#st_application-user-account .st_content p
b{font-size:14px}#st_application-user-account-buttons{width:310px;margin:0px
auto}#st_application-user-remind{}#st_application-user-remind-message{text-align:center;padding:40px
0px}#st_user-edit_data #st_form-user-company{width:200px}#st_user-edit_data #st_form-user-email{width:200px}#st_form-user_basket-email,#st_form-user_basket-password{width:202px}#st_user-edit_data #st_form-user-name{width:94px}#st_user-edit_data #st_form-user-surname{width:94px}#st_user-edit_data #st_form-user-street{width:126px}#st_user-edit_data #st_form-user-house{width:25px}#st_user-edit_data #st_form-user-flat{width:20px}#st_user-edit_data #st_form-user-code{width:76px}#st_user-edit_data #st_form-user-town{width:120px}#st_user-edit_data #st_form-user-nip{width:200px}#st_user-edit_data #st_form-user-phone{width:200px}#st_user-edit_data #st_form-user-phone, #st_user-edit_data #st_form-user-full_name, #st_user-edit_data #st_form-user-address, #st_user-edit_data #st_form-user-address_more, #st_user-edit_data #st_form-user-region, #st_user-edit_data #st_form-user-pesel{width:200px}#st_user-edit_data #st_form-user-country{width:200px}#st_form-user-password{width:202px}#st_form-user-oldpassword{width:164px}.st_form-error{border:1px
solid red;box-shadow:3px 3px 3px #ccc}#st_user-edit_account .st_form.st_form_ver6
.st_row_last{border-bottom:1px solid #ccc}#st_application-user-login
.st_form_ver6{margin-left:5px;float:left}#st_application-user-login-header p, #st_application-user-account-header p, #st_application-user-remind-header
p{margin-left:200px;padding:10px;margin:0}#st_application-user-login
.st_content{margin:50px
10px;padding:0
70px}#st_button-user-remind{margin-right:40px}#st_application-user-remind  .st_content,  #st_application-user-edit-change
.st_content{padding:10px
0;margin:10px
110px 10px 110px;border-top:1px dotted #ccc;border-bottom:1px dotted #ccc;background-repeat:repeat-x}#st_application-user-edit_profil
.st_content2{border:2px
dotted #5C667B;width:407px}#st_application-user-edit_profil
.st_content3{border:1px
dotted #5C667B;width:407px}#st_application-user-edit_profil
.st_content{width:407px}#st_application-user-edit_profil
.field_image1{text-align:right;float:right;margin-top:10px;margin-right:10px;display:none}#st_application-user-edit_profil:hover
.field_image1{display:block}#st_application-user-edit_profil
.field_image2{text-align:right;float:right;margin-right:10px;margin-top:10px}#st_application-user-edit_profil
.left{float:left}#st_application-user-login-foot{padding-top:30px;margin:5px}#st_application-user-remind-foot{padding-top:30px;margin:5px}#st_application-user-login-remind{padding-top:5px;padding-bottom:5px}#st_application-user-login-hidden_line{border-top:1px solid #f1f1f1;width:100%}#st_application-user-user_tab1{margin-left:10px;width:230px;float:left}#st_application-user-edit_profil{float:left;margin:7px;width:285px;height:150px}#st_application-user-edit_profil:hover{background:#F7F7F7;cursor:pointer}.lowspace{}.st_navigation_bar-user-user_tab{height:20px;padding:5px
5px 0px 2px}.st_navigation_bar-user-user_tab
li{float:left;border-left:1px solid #c9c9c9;border-right:1px solid #fefefe;padding:0
5px}.st_navigation_bar-user-user_tab
a{color:#6f6e6d;text-decoration:none}.st_navigation_bar-user-user_tab
.st_first{border-left:none}.st_navigation_bar-user-user_tab
.st_last{border-right:none}#st_application-user-user_tab2{margin-left:20px;width:230px;float:left}#st_application-user-user_tab3{margin-left:20px;width:460px;float:left}#st_application-user-user_tab4{padding-top:20px;padding-top:20px;padding-bottom:15px;margin-left:10px;width:480px;float:left}#st_application-user-user_tab5{padding-top:20px;padding-bottom:15px;margin-left:20px;width:460px;float:left}#st_user-basket_user_info{border:none;width:100%;margin:0
auto}#st_user-basket_user_info_tab1{width:340px;float:left}#st_user-basket_user_info_tab2{width:340px;float:right}#st_user-basket_user_info .st_form
h5.st_title{padding:0px
5px;height:25px;margin:0}#st_user-basket{margin:0
auto}#st_user-basket-frama1{float:left;padding:10px}#st_user-basket-frama2{float:right;padding:10px}.st_navigation_bar_user{background-color:#F7F7F7;border:1px
solid #EEE;height:27px;padding:12px
65px 0px 15px;border-left:1px solid #a9a9a7;border-right:1px solid #a9a9a7}.st_navigation_bar_user
.st_first{padding:0px
10px 0px 5px}.st_navigation_bar_user
li{float:left;border-left:1px solid #c9c9c9;border-right:1px solid #fefefe;padding:0
10px}.st_navigation_bar_user
a{font-weight:bold;text-decoration:none}.st_navigation_bar_user a:hover{text-decoration:underline}.st_navigation_bar_user
.st_first{border-left:none;padding-right:5px}.st_navigation_bar_user
.st_last{border-right:none}.st_application h1.st_title
a{padding-top:10px;padding-left:10px;height:27px;color:#154d81;text-decoration:none}#st_application-user-user h1.st_title, #st_user-edit_account h1.st_title, #st_user-order h1.st_title, #st_user-wallet h1.st_title, #st_user-edit
h1.st_title{height:50px}#st_user-tag{float:right;margin-top:-5px;margin-right:16px}#st_application-user-login-header h1.st_title, #st_application-user-account-header h1.st_title, #st_application-user-remind-header
h1.st_title{float:left;width:200px}#st_button-basket-order
.st_button{color:black;text-decoration:none}#st_button-basket-order .st_button-container{height:27px}#st_user-basket_comment_order{width:696px;display:none}#st_order_product_addcomment{text-align:left;width:100%}#st_application-promotion_exchange{margin:0pt auto;width:400px}#st_basket-voucher_exchange_avaible_list{clear:both}#st_application-promotion_exchange .st_form
.st_row_last{border-bottom:1px solid #CCC}#st_application-promotion_exchange .st_form
.st_row_with_bottom_line{border-bottom:1px solid #CCC;padding:3px}#st_user_create_account_position{margin:0px
auto}#st_user_create_account{background-color:#73B65A;color:white;padding-left:20px;line-height:30px;width:322px;font-weight:bold;margin-bottom:10px}#st_user_edit_account{background-color:#73B65A;color:white;padding-left:20px;line-height:30px;width:298px;font-weight:bold;margin-bottom:10px}#st_user-edit
.box_form_content{margin:30px
65px 15px}.st_user-edit-data{width:407px;margin:0px
auto}#st_uset-edti-blank{float:left;margin-left:15px;width:160px}#st_user-login-link{float:right;margin-right:10px;margin-top:6px}#st_user-description{width:200px;height:50px}#user_data_profile_billing,#user_data_profile_delivery{width:380px}.st_user_title{font-weight:normal;font-size:11px;color:#696969}#st_form-user-billing-password1,#st_form-user-billing-password2{width:200px}#st_application-user-account-remind{margin-left:110px;margin-bottom:50px}#user_status{margin:9px}#overbaner
#user_status{}#user_status
a{text-decoration:none}#st_user-register{margin:10px
0 10px 96px}.italic{color:#999;font-style:italic}#st_user-basket-frama2 h3, #st_order-quastion h3, #external_account
h3{border-color:#E3E3E3;border-style:solid;border-width:0 0 1px;margin-bottom:15px;padding-left:5px}#st_order-quastion{float:right;width:200px}#privacy_overlay,#terms_overlay,#right_2_cancel_overlay{display:none;z-index:10000;background-color:#fff;width:480px;height:500px;border:1px
solid #666;-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow:0 0 90px #000;-moz-border-radius-topleft:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;-webkit-border-radius-topleft:8px;-webkit-border-radius-bottom-left:8px;-webkit-border-radius-bottom-right:8px}.privacy_overlay_content,.terms_overlay_content,.right_2_cancel_overlay_content{height:470px;margin:10px;overflow:auto;color:#262626}#privacy_overlay .close, #terms_overlay .close, #right_2_cancel_overlay
.close{background-image:url('/images/frontend/theme/default2/buttons/close.png');position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px}#external_account img, #user_status
img{height:13px;position:relative;top:3px;margin-right:7px}#external_account
a{text-decoration:none}#external_account a:hover{text-decoration:underline;cursor:pointer}#external_google{margin-bottom:5px;margin-left:5px;float:left}#st_application-user-login
#external_google{margin-top:20px}#external_google
.label{margin-right:5px;margin-top:7px}#st_button-user-login-google
img{width:72px;height:23px}#st_user-basket-frama1 #st_user-login
fieldset{margin-top:10px}#basket-login-user{width:406px}#st_user-basket-login-form{width:406px;float:left}#st_user-login_form #st_user-edit_data{margin-top:0px}.separate{font-size:1.2em;margin:10px
28px}.separate
span{text-decoration:line-through;color:#ccc}#st_user-basket-frama2 .st_row label, #st_user-basket-frama1 .st_row label, #st_user-first_register .st_form
label{width:110px}#st_user-basket-frama2 .st_row .st_field, #st_user-basket-frama1 .st_row
.st_field{margin-left:120px}#st_user-basket-frama2 .st_error, #st_user-basket-frama1 .st_error, #showBillingData
.st_error{margin-left:120px}#st_application-user-login-login
#external_google{}#st_user-basket_billing_login_form{width:406px;float:left}#st_user-basket_delivery_login_form{width:406px;float:right}#st_application-user-login-login{width:406px;float:right}#st_application-user-login-register{width:406px;float:left}#user-register-form{width:406px;margin:15px
auto}#create_user_delivery{width:406px;margin:0
auto}#create_user_billing{width:406px;margin:0
auto}#user-register-form
fieldset{margin-left:45px}#st_user-login{padding:17px
21px 8px;margin-bottom:5px}#basket-login-user h4, #st_user-edit_data
h4{border-bottom:1px solid #EEE;padding-left:5px;color:#666}#st_basket-user{margin-top:10px}.gray_text{color:#666}form
.st_field{position:relative}form .st_field
label{position:absolute;top:0;left:0}form .st_field
br{display:none}form fieldset .st_field input,
form fieldset .st_field
textarea{padding:4px;width:270px;margin:0}form fieldset .st_field
.checkobox{width:20px}form fieldset .st_field
label{width:260px;display:block;margin:5px
5px 5px 6px;padding:0;color:#AAA;font-style:italic;cursor:text}form fieldset .st_field
textarea{padding:2px;width:404px}#town,#delivery_town,#billing_town,#billing-town{width:195px}#code,#delivery_code,#billing_code,#billing-code{width:70px}.vertical-align-middle input, .vertical-align-middle
span{vertical-align:middle}#company_fields,#account_fields{display:none}.error_label_long{margin-left:273px}.error_label_short{margin-left:143px}.password-min-char{color:#666;margin-left:5px}.password-strength-bar{width:265px !important}#basket-login-form
.st_row{padding:1px
0px}#basket-login-form{float:left;margin-left:24px;margin-bottom:10px}#st_button-user-login-account
button{padding:4px
10px 5px 7px}#st_button-user-login-account{margin-left:5px}#st_button-user-login-account
img{width:73px;height:20px}#basket-login-form
fieldset{border:none}#st_button-user-login,#st_button-user-login_success{margin-left:5px;margin-top:-1px}#basket-login-user .st_field label, #st_application-user-login-login .st_field
label{width:180px}#create_account_form
fieldset{border:none;margin-top:15px;margin-left:70px;margin-bottom:15px}#create_account_form
.st_row{padding:1px
0}#st_user-first_register
.st_content{margin:10px;padding:0
70px}#st_button-user-edit_data{margin-right:210px;margin-top:15px}#order_form_login #user_delivery_profile, #order_form_login
#user_billing_profile{font-size:10px;margin-left:73px;width:273px;margin-top:10px}#external_account{font-size:14px;margin-left:4px}#text-billing-full_name{margin-top:5px}#invoice_message{font-style:italic;color:#AAA;font-size:12px;display:none}#order_form{float:right}#order_form_billing,#order_form_delivery{width:407px}#order_form_delivery{display:none}#order_form_login
#order_form_delivery{display:block;margin-top:0px}#order_form_login #order_form_billing .box_form_content, order_form_login #order_form_delivery
.box_form_content{margin:15px
65px}.box_form{border:1px
solid #EEE;margin-bottom:15px}.box_form_content{margin:15px
65px}.box_form:hover{border-color:#CCC #AAAAAA #AAA #CCCCCC;border-style:solid;border-width:1px;box-shadow:3px 3px 3px #CCC}.box_form
fieldset{border:medium none}.box_form
h3{background-color:#FFF;color:#AAA;float:left;font-size:1.4em;margin-bottom:0.3em;margin-left:10px;margin-top: -0.7em;padding:0
5px}.box_form:hover
h3{color:#666}#order_form .st_row, #order_form_billing .st_row, #order_form_delivery .st_row, #user-register-form .st_row, #st_user-edit_data .st_row, #st_user-editaccount .st_row, #st_application-user-login
.st_row{padding:2px
0px}#code_billing,#code_delivery{width:60px}#password1_billing,#password2_billing{}#town_billing,#town_delivery{width:206px}#order_form_billing
.box_form_content{margin-bottom:0px}#footer_form{margin:0px
64px 15px}#user_data_billing_country,#user_data_delivery_country,#user_data_country,#billing-country,#billing_country,#st_form-user_delivery-country-select{width:270px}#label-password2,#label-password1{width:130px}#order_form_delivery{border-bottom:1px solid #EEE;border-top:1px solid #EEE;margin-bottom:5px;margin-top:30px}.box_form input, .box_form textarea, .box_form
select{font-size:16px}#edit-login,#edit-password,#edit-billing,#edit-delivery{width:406px}#edit-password #password1, #edit-password #password2, #edit-password
#oldpassword{width:270px}#st_user-editaccount
.box_form{margin-bottom:20px}.user_profile_content{font-size:14px;color:#666}#change_delivery,#change_billing{padding:5px;border-left:1px solid #EEE;border-bottom:1px solid #EEE;border-radius:0px 5px 0px 5px}#change_delivery:hover,#change_billing:hover{cursor:pointer}#st_application-user-user
.content_frame{padding:0px
10px;min-height:450px}#change_billing a, #change_delivery
a{text-decoration:none}#user-register-form .password-strength-bar{width:265px !important;margin-top:5px}#edit-password .password-strength-bar{width:265px !important;margin-top:5px}.red, .red
a{color:red}#remind_form{width:407px;margin:15px
auto}#remind_form
fieldset{margin-left:45px}#remind_form
.st_row{padding:2px
0px}#st_application-user-edit_profil{color:#666;font-size:14px}#st_user-edit
.content{margin:10px}#user-new-password-form{margin:15px
auto;width:407px}#user-new-password-form
fieldset{margin-left:45px}#user-new-password-form
.st_row{padding:2px
0px}#order_form_billing .password-strength-bar{margin-top:5px}.full_name_space{margin-top:5px}.invoice_text{font-size:12px;font-style:italic;color:#CCC}#st_application-user-login-login
.content{margin:35px
50px}.img_icons_config{float:left;margin-bottom:10px;margin-right:9px;text-align:center}.box_icons_config{background-color:#FFF;border:1px
solid #DFDFDF;border-radius:10px 10px 10px 10px;display:block;overflow:hidden;text-align:center;width:80px}.box_icons_config
a{font-size:0;line-height:0}.img_icons_config
.font_normal_config{line-height:12px;text-align:center}.font_normal_config
a{background-color:#F4F4F4;border:medium none;border-radius:0 0 5px 5px;color:#555;display:block;font-size:10px;line-height:12px;margin:1px;padding:5px
0;text-align:center;text-decoration:none}#user_wait_confirm{width:407px;margin:15px
auto}#logout_form{width:407px;margin:15px
auto}select,input,textarea{padding:3px;font-family:Helvetica,Verdana,Arial,sans-serif;font-size:12px;outline:none;background:#fff;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box}select,input{line-height:15px}select{padding:2px}.st_form_ver6
.st_row{clear:both}.st_form_ver6
.st_error{color:red}textarea:focus,input[type=text]:focus,input[type=password]:focus{border-color:#aaa !important;background-color:#eee !important}#privacy_webpage
br{display:inline}#user_data_billing_privacy,#st_form-user-privacy{float:left;margin:2px
3px 0 1px;width:20px}#user_data_billing_privacy_content{float:left;width:200px}#st_form-user-newsletter{margin-right:7px}.alert_tooltip{background-color:rgba(220, 0, 0, 0.9);border:2px
solid #FFF;border-radius:5px 5px 5px 5px;box-shadow:0 0 1px rgba(50, 50, 50, 0.75);color:#222;display:none;padding:2px
4px;z-index:10000;color:#fff}.error_tooltip{height:0;left: -20px;position:relative;top:6px;width:20px}.profile_tooltip{}.message_tooltip{background-color:rgba(220, 220, 220, 0.898);border:2px
solid #FFF;border-radius:5px 5px 5px 5px;box-shadow:0 0 1px rgba(50, 50, 50, 0.75);color:#222;display:none;padding:10px
15px;z-index:10000}#st_application-user-login-login #st_form-user-email{width:202px}.default{background-color:#f7f7f7}#st_user-editaccount #change_billing_edit, #st_user-editaccount
#change_delivery_edit{padding:5px}#st_user-editaccount #change_billing_edit a, #st_user-editaccount #change_delivery_edit
a{text-decoration:none}#order_form_description{width:535px;margin-bottom:23px}#order_description_text{font-size:12px;margin:0
10px 10px;min-height:25px;height:25px;padding:4px;resize:vertical;width:515px}#order_description_text_label{margin:15px}#st_user-login
.login_text{display:none}#st_button-user-edit_data.two_frame{margin-right:0px}#st_button-user-edit_data.one_frame{margin-right:210px}#underbaner .tooltip_account
a{font-weight:normal}#underbaner .tooltip_account .bold
a{font-weight:bold}#user_status .tooltip_account a, #user_status .tooltip_account
span{color:#000;display:block}.tooltip{display:none;border:1px
solid #ccc;background-color:#fff;min-height:20px;font-size:11px;color:#000;padding:5px
10px;z-index:10000;max-width:250px}#st_category-list>li{padding:10px}#st_category-list li > h2
a{font-size:1.2em;font-weight:normal;text-decoration:none}.st_category-product-list>li{float:left;margin-right:10px;padding:10px;text-align:center}.st_category-list-more{text-align:right;padding:0;margin:0}.st_category-list-more
a{font-size:1.2em}.st_category-product-list
h3{margin-bottom:10px}#st_component-tree{padding:5px
15px 10px 15px}ul.st_list_category{margin:0px;padding:0px}ul.st_list_category
li{border-bottom:1px solid #e3e3e3;text-align:left;padding:5px
0px}ul.st_list_category li
a{font-size:1.2em;text-decoration:none}ul.st_list_category li
img{padding-right:6px}.x-tree-arrows .x-tree-elbow-plus{background:transparent url(/images/frontend/theme/default2/arrow_category.png) no-repeat scroll center center;width:12px;height:16px;vertical-align:top;cursor:hand;cursor:pointer}.x-tree-arrows .x-tree-elbow-minus{background:transparent url(/images/frontend/theme/default2/arrow_category_open.png) no-repeat scroll center center;width:12px;height:16px;vertical-align:top;cursor:hand;cursor:pointer}.x-tree-arrows .x-tree-elbow-leaf{background:transparent url(/images/frontend/theme/default2/arrow_category_leaf.png) no-repeat scroll center center;cursor:default}.x-tree-arrows .x-tree-node-anchor-selected{font-size:0.9em;font-weight:bold;background:#ffc}.x-tree-arrows .x-tree-ec-over .x-tree-elbow-plus,
.x-tree-arrows .x-tree-ec-over .x-tree-elbow-minus{background-position:center left}.x-tree .x-panel-body{background-color:transparent}.st_category-tree{overflow:visible;padding:0px
3px}.st_category-tree
ul{list-style:none}.x-panel-bwrap{overflow:visible}.st_category-tree  ul.x-tree-root-ct{overflow:visible}.st_category-tree-element{padding-top:3px;margin-top:3px;border-top:1px solid #eee}.st_category-tree-element ul .st_category-tree-element{padding-left:10px}.st_category-tree-element
a{font-size:12px;text-decoration:none}.st_category-tree-element a:hover{font-size:0.9em;text-decoration:none;font-weight:bold}.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon{background-image:none}.st_category-tree_subcategories{width:145px;min-height:130px;float:left;padding-top:10px}.st_category-tree_product
li{font-size:1.2em;text-align:left;padding-top:10px;padding-left:10px;padding-bottom:5px;height:35px}.st_category-tree_product li
img{padding-right:5px}.st_category-tree_product .st_category-tree_separator{padding-left:15px;font-size:1em;color:#5e5e5e;padding-top:0px}.st_space_category{height:15px}#st_component-st_product-product_list
.st_application{margin-bottom:10px}#main_categories,#subcategories{overflow:hidden}#main_categories
ul{list-style:none}#main_categories .box, #subcategories
.box{margin-bottom:3px}#main_categories .item, #subcategories
.item{float:left;display:inline}#main_categories .image, #subcategories
.image{text-align:center;vertical-align:middle;padding:10px
0px}#main_categories .photo
*{vertical-align:middle}#main_categories
.names{padding-bottom:10px}#main_categories .names
li{text-align:left}#main_categories .names li
img{display:none}#main_categories .names
.subcategory{padding-left:10px}#subcategories
.name{padding-bottom:10px}#category_info{padding-bottom:10px}#category_info
.image{width:128px;float:left;margin:10px}#category_info
.description{padding:10px;width:400px;float:left}#category_tree
.content{padding:5px
0px}.st_category-tree-element
div{padding-left:14px}.st_category-tree-element
img{margin-left: -16px}.st_category-tree ul
ul{margin-left:0px;background:#ffc}.st_category-tree ul ul
ul{margin-left:0px;background:#ff9}.x-tree-arrows
.preload{background-image:url("/images/frontend/theme/default/preloader_category.gif")}#producer_filter{overflow:hidden;margin-bottom:5px;padding:3px
5px}#producer_info
.image{float:left;margin:10px}#producer_info
.description{padding:10px}#producer_filter
select{width:100%}.box_info
.content{font-size:0.93em}.box_info
p{margin:5px
0px}.box_info
img{max-width:100%;height:auto}.tags{text-align:center}.tags
li{margin:0;padding:0;list-style:none;display:inline}.tags
a{text-decoration:none;color:#fff;padding:0
2px;line-height:110%;word-wrap:break-word}.tags a:hover{color:#000}.tag-1
a{font-size:100%;color:#67ABE0}.tag-2
a{font-size:130%;color:#67ABE0}.tag-3
a{font-size:160%;color:#4D92C7}.tag-4
a{font-size:190%;color:#3277AD}.tag-5
a{font-size:230%;color:#266CA2}.tag_header{padding-bottom:10px}.cp-container{position:relative;width:104px;height:104px;background:url("/images/frontend/theme/default2/mp3player/bgr.jpg") 0 0 no-repeat;padding:48px;-webkit-tap-highlight-color:rgba(0,0,0,0)}.cp-container :focus{border:none;outline:0}.cp-buffer-1,.cp-buffer-2,.cp-progress-1,.cp-progress-2{position:absolute;top:0;left:0;width:104px;height:104px;clip:rect(0px,52px,104px,0px);-moz-border-radius:52px;-webkit-border-radius:52px;border-radius:52px}.cp-buffer-1,.cp-buffer-2{background:url("/images/frontend/theme/default2/mp3player/buffer.png") 0 0 no-repeat}.cp-container .cp-fallback{background:url("/images/frontend/theme/default2/mp3player/progress_sprite.jpg") no-repeat;background-position:0 104px}.cp-progress-1,.cp-progress-2{background:url("/images/frontend/theme/default2/mp3player/progress.png") 0 0 no-repeat}.cp-buffer-holder,.cp-progress-holder,.cp-circle-control{position:absolute;width:104px;height:104px}.cp-circle-control{cursor:pointer}.cp-buffer-holder,.cp-progress-holder{clip:rect(0px,104px,104px,52px);display:none}.cp-buffer-holder.cp-gt50,.cp-progress-holder.cp-gt50,.cp-progress.cp-fallback{clip:rect(auto,auto,auto,auto)}.cp-controls{margin:0;padding:26px}.cp-controls
li{list-style-type:none;display:block;position:absolute}.cp-controls li
a{position:relative;display:block;width:50px;height:50px;text-indent:-9999px;z-index:1}.cp-controls .cp-play{background:url("/images/frontend/theme/default2/mp3player/controls.jpg") 0 0 no-repeat}.cp-controls .cp-play:hover{background:url("/images/frontend/theme/default2/mp3player/controls.jpg") -50px 0 no-repeat}.cp-controls .cp-pause{background:url("/images/frontend/theme/default2/mp3player/controls.jpg") 0 -50px no-repeat}.cp-controls .cp-pause:hover{background:url("/images/frontend/theme/default2/mp3player/controls.jpg") -50px -50px no-repeat}.cp-jplayer{width:0;height:0}.collectonme{margin:80px
auto;background:red;width:80%;text-align:center;font-size:1.2em;color:#fff}.wishes
table{border:none}.wishes table td, .wishes table
th{border:none;background:none;color:#000;padding:0px}.wishes
.content{padding:0px
!important}#wishes_small .content>img{margin-bottom:13px}#wishes_small
.content{padding-bottom:10px}#wishes_small .head
a{color:#ef0c0c;font-size:17px;font-style:italic;font-size:17px;text-align:center;font-weight:normal}#webpage_show .title
h2{float:left}#webpage_groups,#webpage_show,#webpage_list{overflow:hidden}.group{float:left;width:18%;padding:10px
0px;margin-right:1%}.group
.last{margin-right:0px}#webpage_groups .group:empty{display:none}#webpage_groups .group:nth-child(4n+5){clear:left}.first{padding-left:20px}.group
a{display:block}.webpage_overlay{background-color:#FFF;border:1px
solid #666;display:none;width:480px;z-index:10000}.webpage_overlay_content{color:#262626;height:470px;margin:10px;overflow:auto}.webpage_overlay
.close{background-image:url("/images/frontend/theme/default2/buttons/close.png");cursor:pointer;height:35px;position:absolute;right: -15px;top: -15px;width:35px}#st_application-newsletter-index
.st_content{width:750px;padding:10px
0;margin:10px
110px 10px 110px;border-top:1px dotted #ccc;border-bottom:1px dotted #ccc;background-image:url('/images/frontend/theme/default/bg_line_login.gif');background-repeat:repeat-x}#st_application-newsletter-index-header h1.st_title, #st_application-newsletter-index-group
h5.st_title{float:left;width:200px}#st_application-newsletter-index
fieldset{width:350px;border:none;margin:0px
auto}#st_application-newsletter-index
p{margin-left:200px;padding:10px;margin:0}#st_application-newsletter-index-group
p{margin-left:200px;padding:0px;margin:0}#newsletter_content{font-size:1em;padding-left:7px;line-height:14px;margin-top:-5px;margin-bottom:5px;text-align:justify;padding-right:7px}#newsletter .content
.sign{overflow:hidden;padding:5px
0px}#newsletter{float:right}#newsletter .content .sign .email
input{border:none;width:100%;padding:3px
0px}#newsletter .content .sign .email
.submit{float:right;padding-top:5px}#newsletter .content .sign .email .submit
input{text-decoration:none;padding:3px;cursor:pointer}#newsletter
.buttons{margin-top:3px}#newsletter
.buttons{margin-top:3px}#st_application-newsletter-confirm
.st_content{width:700px;margin:0px
auto}#newsletter_user_form{width:407px;margin:0px
auto}#newsletter_user_form .group_content
p{margin:4px}#newsletter_user_form #email_field, #newsletter_user_form #privacy_field, #newsletter_user_form
#captcha_form{margin-bottom:5px;margin-left:45px}#newsletter_user_form
#captcha_img{width:270px}#newsletter_user_form
#captcha_field{margin-bottom:15px;margin-left:45px;margin-top: -13px}#newsletter_user_form
.st_row{padding:0px}#st_application-recommend-shop-header
p{margin-left:200px;padding:0px;margin:0px}#st_application-recommend-shop-header
h2.st_title{float:left;width:200px}#st_application-recommend-shop
.st_content{padding:10px
0;margin:10px
110px 10px 110px;border-top:1px dotted #ccc;border-bottom:1px dotted #ccc;background-image:url('/images/frontend/theme/default/bg_line_login.gif');background-repeat:repeat-x}#st_application-recommend-shop
fieldset{border:none;margin:0}#st_application-recommend-shop .st_form
.st_field{}#st_application-recommend-shop .st_form .st_field
.default_text{width:310px;margin-left:190px;text-align:justify;background-color:#F9F8F8;border:1px
solid #CCC;padding:5px}#st_application-recommend-shop .st_form
label{float:left;text-align:right;width:200px;margin-left:80px;padding-right:20px;font-weight:bold}#input{width:315px}#additional_info{width:315px}#st_application-recommend-shop
.captcha{margin:10px
0px 20px 300px}#st_application-recommend-shop
.st_button_recommend_shop{margin-right:135px;padding-top:10px}#st_button-recommend-shop_success
input{font-weight:normal;padding-right:20px;background-image:url('/images/frontend/theme/default/button/arrow_right.gif')}#st_application-recommend-shop
.st_error{margin-left:300px;color:red}#recommend_from{text-align:right}#st_application-recommend-shop .st_field
.default_text_send{width:308px;margin-left:130px;text-align:justify;background-color:#F9F8F8;border:1px
solid #CCC;padding:5px}#st_application-recommend-shop .st_field
.text_send{width:310px;margin-left:130px;text-align:justify;padding:10px
0px 10px 0px}#st_application-recommend-shop
.st_button_recommend_shop_send{margin-right:450px;padding-top:10px}#st_button-recommend-shop_send_success .st_button-left{font-weight:normal;padding-left:10px;background-image:url('/images/frontend/theme/default/button/arrow_left.gif')}#st_button-recommend-shop_send_success
input{background:transparent url(/images/frontend/theme/default/button_right.gif) no-repeat scroll right top}#failed_info{width:315px;margin-left:240px;text-align:center;padding:5px;border:2px
solid #F33}.st_application{border:none;margin:0}#st_application-recommend-product
.st_application{border:0px}#st_application-recommend-product
fieldset{border:0px;margin:0}#st_application-recommend-product .st_form
.st_field{}#st_application-recommend-product .st_form .st_field
.default_text{width:310px;margin-left:250px;text-align:justify;background-color:#F9F8F8;border:1px
solid #CCC;padding:5px}#st_application-recommend-product .st_form
label{float:left;text-align:right;width:200px;margin-left:140px;padding-right:20px;font-weight:bold}#st_application-recommend-product
.captcha{margin:10px
0px 20px 360px}#st_application-recommend-product
.st_button_recommend_product{margin-right:250px;padding-top:10px}#st_button-recommend-product_success
input{font-weight:normal;padding-right:20px;background-image:url('/images/frontend/theme/default/button/arrow_right.gif')}#st_application-recommend-product
.st_error{margin-left:360px}#st_application-recommend-product .st_form .st_field .default_text
.recommend_from{text-align:right}#st_application-recommend-product .st_field
.text_send{width:310px;margin-left:220px;text-align:justify;padding:10px
0px 10px 0px}#st_application-recommend-product .st_field
.default_text_send{width:308px;margin-left:220px;text-align:justify;background-color:#F9F8F8;border:1px
solid #CCC;padding:5px}#st_application-recommend-product
.st_button_recommend_product_send{margin-right:515px;padding-top:10px}#st_button-recommend-product_send_success .st_button-left{font-weight:normal;padding-left:10px;background-image:url('/images/frontend/theme/default/button/arrow_left.gif')}#failed_info_product{width:315px;margin-left:330px;text-align:center;padding:5px;border:2px
solid #F33}#recommend_overlay,#recommend_shop_overlay{display:none;z-index:10000;background-color:#fff;width:480px;border:1px
solid #666;-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow:0 0 90px #000;-moz-border-radius-topleft:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;-webkit-border-radius-topleft:8px;-webkit-border-radius-bottom-left:8px;-webkit-border-radius-bottom-right:8px}#recommend_overlay .close, #recommend_shop_overlay
.close{background-image:url('/images/frontend/theme/default2/buttons/close.png');position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px}#product_label
#active_overlay{background-image:url("/images/frontend/theme/default2/icon_recommend.gif");background-position:left center;background-repeat:no-repeat;display:block;padding:1px
10px 0 25px;text-align:left}#st_application-st_recommend-add .st_row
label{float:left;width:130px;text-align:right;margin-right:10px;position:relative;top:2px}#st_application-st_recommend-add
fieldset{border:none}#st_application-st_recommend-add
.st_error{margin-left:110px;padding:0px;padding-top:5px;color:red}#st_form-recommend-captcha, #st_form-recommend-email, #st_application-st_recommend-add
textarea{width:320px}#st_application-st_recommend-add
textarea{height:140px}#st_application-st_recommend-add
.st_application{border:none}.st_application
.st_content{padding:20px
10px 10px 10px}#recommend_table{width:580px}.recommend_th{background-color:#eee;font-weight:normal;text-align:center}.recommend_score{text-align:center;font-weight:bold;font-size:13px;width:30px;border-bottom:1px solid #ddd;padding:7px;vertical-align:top}.recommend_create{text-align:center;width:70px;padding:3px;vertical-align:top;border-bottom:1px solid #ddd}.recommend_description{text-align:justify;border-bottom:1px solid #ddd;font-size:12px;line-height:14px;padding:7px
0px 7px 0px}.recommend_description
em{font-size:11px}#button-add-recommend{padding:3px;margin-right:11px}#review_table
th{font-weight:normal}.row_captha{margin-bottom:2px;margin-top:2px;margin-left:110px}#form_recommend
.st_row{margin-bottom:5px}#form_recommend
img{position:relative;left:30px;width:320px}div#baner{background-image:url('/images/frontend/theme/avt2014/_editor/prod/b369bc7022466385a2f5cc19695cd8c6.png') !important;background-repeat:repeat-x !important}div#underbaner{background-color:#636363 !important}div.subMenu:hover>a,div#user_status:hover,.subMenu.selected>a{background:#2a2a2a !important}div#underbaner .subMenu:hover .items a:hover, div#user_status .tooltip_account a:hover{background-color:#393939 !important}div#webpage_groups
h4{color:#d9d9d9 !important}body{background-repeat:repeat-x !important}.box_group
.head{background-color:#636363 !important;border-color:#636363 !important}.box_group .head
a{color:#fff !important}div.box_info
.head{background-color:#eb231d !important;border-color:#eb231d !important}div.box_info
h3{color:#fff !important}div#category_tree{background-color:#fff !important}div#main_categories .item, div#subcategories
.item{background-color:#fff !important}div#main_categories .image, div#subcategories
.image{border-color:#393939 !important}div#main_categories .category a, div#subcategories .name
a{color:#000 !important}div#main_products .basket a, div#product_long .basket a, div#product_recommend .basket
a{background:#F7F7F7 !important;border-color:#f7f7f7 !important}div#main_products .basket a:hover, div#product_long .basket a:hover, div#product_recommend .basket a:hover{background:#EEE !important}.item
.short_description_mask{background:#fff !important}div#product_label .buttons
.important{background-color:#ED1C24 !important;border-color:#ED1C24 !important}div#product_label .buttons:hover
.important{background-color:#c91c25 !important}div#product_card .information .price
span{color:#ED1C24 !important}.buttons .important:hover, #button-empty-basket-return a:hover, .buttons .not_found_button:hover, div#order_print a:hover, div#product_recommend .basket:hover{background-color:#3b3b3b !important;border-color:#3b3b3b !important}